<% @page_title = "Admin Auth | Admin Login" -%>
	
	<center>
	<table  >
		<tr><td><h1 >Admin Login</h1></td></tr>
	<%= form_tag(admin_login_attempt_path, method:'post') do %>

		<tr><td > <%= text_field_tag :username_or_email ,nil,:class => "textox",:placeholder =>"User name or Email" %></td></tr>
		
		<tr><td> <%= password_field_tag :login_password,nil,:class => "textox",:placeholder =>"Pasword" %></td></tr>

		<tr><td>
		<%= submit_tag("Log In",:class =>"css_button") %></td>
	
	<% end %>
	</table>
	<center>
