<style type="text/css" media="screen">
b {
  font-size: 1.5em;
}
  
</style>
<%@films=Film.all%>

<h1>Film Details</h1><br/>
<%for @film in @films%>
<p>
  <b>Movie Name</b>
  <%= @film.name %>
</p>

<p>
  <b>Director</b>
  <%= @film.director %>
</p>
<p>
  <b>Actors</b>
  <%= @film.actors %>
</p>

<p>
  <b>Description</b>
  <%= @film.description %>
</p>
<%end%>


